@import "tailwindcss";


/* General Styles */

html, body {
    font-family: "Inter", sans-serif;
}

h1, h2 {
    font-family: "Space Grotesk";
}

label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

article {
    margin: 25px 0;
}

.section {
    padding: 75px 25px;
}

.headingContainer {
    margin: 25px auto;
}

.heading {
    font-size: 1.875rem;
    font-weight: bold;
}

.paraphrase {
    margin: 15px 0;
    color: #626269;
}



/* Specific Styles */

.timeLineGradient {
    background-image: linear-gradient(180deg, rgba(168, 85, 247, 1) 0%, rgba(168, 85, 247, 0));
}

.validationError {
    color: #ff0000;
    font-size: 0.875rem;
    font-weight: normal;
    margin-top: 5px;
}

.skillItem {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    transition: all 0.3s ease;
    cursor: default;
    white-space: nowrap;
}

.projectSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Desktop Styles */

@media (min-width: 1024px) {
    .skillItem:hover {
        border-color: #a855f7;
    }
}
